---
layout: default
title: О нас &middot; iCenter
---

<div class="docs-sub-header">
  {% include masthead.html %}
  <div class="container">
    <div class="docs-sub-content">
      <h2 class="page-title">О учебном центре</h2>
      <p class="page-description">Немного информации о нас</p>
    </div>  
  </div>
</div>

<div class="container">
  <div class="column-group">
    <div class="column lg-units-8 docs-content">
      <div class="docs-section">
        <h2>Почему наш центр?!</h2>        
        <p>Образовательный центр успешно работает в Астане с 2011 года. За это время мы успешно подготовили большое количество студентов. Мы активно сотрудничаем с компаниями различных отраслей по подготовке и обучению сотрудников, письменных переводов документации. Мы уделяем огромное внимание подбору преподавателей, а также программам обучения персонала.</p>
        <p>Главное отличие наших языковых курсов от многих других — у нас действительно работают лучшие преподаватели, а также носители языка. Каждый преподаватель iCenter проходит строгий отбор, методическую подготовку и регулярные тренинги повышения квалификации.</p>
        <p>Мы ценим Ваше время и доверие!</p>        
      </div>

      <!--div class="docs-section">
        <h2>Наша команда</h2>
        <p class="lead">iCenter - преподавательский состав</p>
        <!--TEAM section-->
        <!--div class="list-group">
          <div class="list-group-item">           
            <a class="team-member" href="https://github.com/connors">
              <img src="http://www.gravatar.com/avatar/53d633ae4622de17906338910085275a" alt="@connors">
              <div class="team-member-info">
                <strong>Collins</strong>
                @collins
              </div>
            </a>
          </div>
          <div class="list-group-item">
            <a class="team-member">           
              <img src="http://www.gravatar.com/avatar/bc4ab438f7a4ce1c406aadc688427f2c" alt="@mdo">
              <div class="team-member-info">
                <strong></strong>
                @              
            </a>
          </div-->
        </div>        
      </div>
    </div>  

    <!--div class="column lg-units-4">
      {% include download-module.html %}
    </div-->
  </div>

  <div class="column">
    <!-- Footer -->
    {% include footer.html %}
  </div>
</div>
