---
layout: default
title: Контакты &middot; iCenter
---

<div class="docs-sub-header">
  {% include masthead.html %}
  <div class="container">
    <div class="docs-sub-content">
      <h2 class="page-title">Наши контакты</h2>
      <p class="page-description">Изучите причины чтобы быть именно с нами</p>
    </div>  
  </div>
</div>

<div class="container">
  <div class="column-group">
    <div class="column lg-units-8 docs-content">
      <div class="docs-section">
        <h2>Причины чтобы изучать английский язык</h2>
        <p class="lead">Пробежимся по основным из них</p>

        <h3>1. Повышение «стоимости» на рынке труда</h3>
        <p>На какую работу вы бы не устраивались, вероятней всего, столкнётесь с графой «Иностранные языки». При сегодняшней конкуренции на рынке труда эта графа может сыграть в вашу пользу, если вы знаете иностранные языки. Сейчас есть много международных компаний, а также компании, которые сотрудничают с другими странами.</p>

        <h3>2. Чтение специальной литературы.</h3>
        <p>В основном малую часть литературы переводят на русский язык, что лишает вас возможности познать ценную информацию. А если даже и переводят литературу, например, которая вам нужна для работы или учёбы, то перевод задерживается, как правило, на год-два (среднестатистический срок подготовки и перевода на русский) и информация уже успевает устареть. Специализированные сайты тоже в основном англоязычные. Знание языка (даже частичное) существенно повышает возможности получения нужной информации.</p>

        <h3>3. Расширение круга общения.</h3>
        <p>Интернет как никогда расширил возможности связи, теперь можно легко общаться с человеком из любой страны. Знание английского помогает найти интересных друзей и расширить круг знакомств, благодаря чему жизнь становится более яркой и насыщенной.</p>
      </div>   
      
     
      <div class="docs-section">
        <h2>Наше местоположение: бизнес центр "Каскад", 3 этаж, офис 103</h2>
         <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1251.4728697980179!2d71.4229977!3d51.1463517!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf6c08f6be224f321!2z0JbQmiAi0JrQsNGB0LrQsNC0Ig!5e0!3m2!1sru!2s!4v1468841000934" width=600 height=450 frameborder="0" style="border:0" allowfullscreen>      
          </iframe>
        </div>
    </div>
    </div>

    
    <!--div class="column lg-units-4">
      {% include download-module.html %}
    </div-->
  </div>

  <div class="column">
    <!-- Footer -->
    {% include footer.html %}
  </div>
</div>
