---
layout: default
title: Контакты &middot; iCenter
---

<div class="docs-sub-header">
  {% include masthead.html %}
  <div class="container">
    <div class="docs-sub-content">
      <h2 class="page-title">Наши контакты</h2>
      <p class="page-description">Найдите нас или свяжитесь с нами!</p>
    </div>  
  </div>
</div>

<div class="container">
  <div class="column-group">
    <div class="column lg-units-8 docs-content">
      <div class="docs-section"> 
        <h3>Режим работы</h3>  
        <p>По будням с 09:00-20:00, в выходные дни с 09:00-18:00</p>        
        <h3>Электронная почта</h3>
        <p>Отправьте письмо с Вашим вопросом на электронный адрес <a href="mailto:support@icenter-edu.com?Subject=English%20learning" target="_top">support@icenter-edu.com</a>. Мы обязательно Вам ответим!</p>
        <h3>Телефон</h3>
        <p>Позвоните нам, чтобы проконсультироваться <a href="tel:77751073386">+7–775–107–33–86</a></p>        
      </div>   
        
     
      <div class="docs-section">
        <h2>Наше местоположение: бизнес центр "Каскад", 3 этаж, офис 103</h2>
         <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1251.4728697980179!2d71.4229977!3d51.1463517!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf6c08f6be224f321!2z0JbQmiAi0JrQsNGB0LrQsNC0Ig!5e0!3m2!1sru!2s!4v1468841000934" width=600 height=450 frameborder="0" style="border:0" allowfullscreen>      
          </iframe>
        </div>
    </div>
    </div>

    
    <!--div class="column lg-units-4">
      {% include download-module.html %}
    </div-->
  </div>

  <div class="column">
    <!-- Footer -->
    {% include footer.html %}
  </div>
</div>
