---
layout: default
title: Контакты &middot; iCenter
---

<div class="docs-sub-header">
  {% include masthead.html %}
  <div class="container">
    <div class="docs-sub-content">
      <h2 class="page-title">Наши контакты</h2>
      <p class="page-description">Изучите причины чтобы быть именно с нами</p>
    </div>
    {% include ad.html %}
  </div>
</div>

<div class="container">
  <div class="column-group">
    <div class="column lg-units-8 docs-content">
      <div class="docs-section">
        <h2>Причины чтобы изучать английский язык</h2>
        <p class="lead">Пробежимся по основным из них</p>

        <h3>1. Повышение «стоимости» на рынке труда</h3>
        <p>На какую работу вы бы не устраивались, вероятней всего, столкнётесь с графой «Иностранные языки». При сегодняшней конкуренции на рынке труда эта графа может сыграть в вашу пользу, если вы знаете иностранные языки. Сейчас есть много международных компаний, а также компании, которые сотрудничают с другими странами.</p>

        <h3>2. Чтение специальной литературы.</h3>
        <p>В основном малую часть литературы переводят на русский язык, что лишает вас возможности познать ценную информацию. А если даже и переводят литературу, например, которая вам нужна для работы или учёбы, то перевод задерживается, как правило, на год-два (среднестатистический срок подготовки и перевода на русский) и информация уже успевает устареть. Специализированные сайты тоже в основном англоязычные. Знание языка (даже частичное) существенно повышает возможности получения нужной информации.</p>

        <h3>3. Расширение круга общения.</h3>
        <p>Интернет как никогда расширил возможности связи, теперь можно легко общаться с человеком из любой страны. Знание английского помогает найти интересных друзей и расширить круг знакомств, благодаря чему жизнь становится более яркой и насыщенной.</p>
      </div>  



      <div class="docs-section">
        <h2>Примеры секции</h2>
        <p class="lead">Three simple rules for structuring your Ratchet pages</p>
        <h3>1. Fixed bars come first</h3>
        <p>All fixed bars (<code>.bar</code>) should always be the first thing in the <code>&lt;body&gt;</code> of the page. This is really important!</p>

        <h3>2. Everything else goes in <code>.content</code></h3>
        <p>Anything that's not a <code>.bar</code> should be put in a div with the class <code>.content</code>. Put this div after the bars in the <code>&lt;body&gt;</code> tag. The <code>.content</code> div is what actually scrolls in a Ratchet prototype.</p>

        <h3>3. Don't forget your meta tags</h3>
        <p>They're included in the template.html page included in the download, but make sure they stay in the page. They are important for Ratchet to work just right.</p>
      </div>      



      <div class="docs-section">
        <h2>Community</h2>
        <p class="lead">Подписывайся и отслеживай наши новости в соцсетях</p>
        <ol>
          <li>
            <p>Вступай в группу Вконтакте <a href="http://blog.getbootstrap.com/">iCenter Astana</a>, там Вы можете задать Ваши вопросы</p>
          </li>
          <li>
            <p>Ставьте лайки в Facebook <a href="http://stackoverflow.com/questions/tagged/ratchet-2">iCenter</a>.</p>
          </li>
          <li>
            <p>Подписывайся на наш Instagram <a href="https://groups.google.com/forum/#!forum/goratchet">iCenter Instagram</a>.</p>
          </li>
        </ol>
        <p>Также ты можешь отслеживать нас в Твиттере <a href="https://twitter.com/goratchet">@goratchet</a> самые последние новости</p>
      </div>

      <div class="docs-section">
        <h2>Browser and OS support</h2>
        <table class="browser-support-table">
          <thead>
            <tr>
              <th scope="col">IELTS</th>
              <th scope="col">TOEFL</th>
              <th scope="col" class="text-center">Supported?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Basic</td>
              <td>Intro to English</td>
              <td class="text-center browser-support-yes"><span class="icon icon-check"></span></td>
            </tr>
            <tr>
              <td>Pre-Intermediate</td>
              <td>Pre-Intermediate Learning</td>
              <td class="text-center browser-support-yes"><span class="icon icon-check"></span></td>
            </tr>
            <tr>
              <td>Intermediate</td>
              <td>Intermedaite Learning</td>
              <td class="text-center browser-support-maybe">To Be Decided</td>
            </tr>
            <tr>
              <td>Need To Deel?!</td>
              <td>Upper Intermediate</td>
              <td class="text-center browser-support-yes"><span class="icon icon-check"></span></td>
            </tr>            
              <td>&mdash;</td>
              <td>Over high level</td>
              <td class="text-center browser-support-maybe">To Be Decided</td>
            </tr>
            <tr>
              <td>&mdash;</td>
              <td>80 - level</td>
              <td class="text-center browser-support-maybe">To Be Decided</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--div class="column lg-units-4">
      {% include download-module.html %}
    </div-->
  </div>

  <div class="column">
    <!-- Footer -->
    {% include footer.html %}
  </div>
</div>
