---
layout: home
title: iCENTER
---

<div class="docs-header">
  {% include masthead.html %}
  <div class="docs-header-content">
    <p class="docs-subtitle">iCENTER - образовательный центр английского языка в Астане</p>
    <!--a data-ignore="push" href="https://github.com/twbs/ratchet/archive/v2.0.2.zip" class="btn btn-primary" onClick="_gaq.push(['_trackEvent', 'Downloads', 'V2.0.2']);">Download Ratchet</a>-->

    <p class="version">Языковые курсы английского языка в Астане. Подготовка к международным экзаменам IELTS, TOEFL, GMAT</p>
    <p class="version">Подготовка на поступление в Казахско-Турецкий лицей, Назарбаевскую школу, Назарбаев университет</p>
  </div>

  <div class="docs-header-bottom">  
    {% include footer.html %}
  </div>
</div>
