---
layout: default
title: Полезности &middot; iCenter
---

<div class="docs-sub-header">
  {% include masthead.html %}
  <div class="container">
    <div class="docs-sub-content">
      <h2 class="page-title">Полезности</h2>
      <p class="page-description">Полезные советы и ресурсы для изучения английского</p>
    </div>    
  </div>
</div>

<div class="container">
  <div class="column-group">
    <div class="column lg-units-8 docs-examples docs-content">
      <h2>Эффективное изучение английского</h2>
      <p class="lead">Будьте максимально производительны и добивайтесь успехов вместе с нами</p>
      <div class="docs-section">
        <h3>Узнайте 10 популярных причин, почему стоит изучить английский</h3>        
        <ul>
        <li>Карьерный рост. Вполне естественно, что каждый из нас стремится найти не только любимую работу, но и занять высокую должность. Но для этого мало быть просто трудолюбивым. В наше время каждый хороший работник должен обладать хорошими знаниями иностранных языков. Причем английским - в обязательном порядке (в первую очередь). Так что если Вы карьерист - вперед за учебники.</li>
        <li>Читать книги в оригинале. Много среди нас найдется книголюбов. Мы читаем всюду: в транспорте, на природе и дома. И Вы только представьте, как здорово было бы прочесть одну из любимых книг на языке оригинала (на английском). Получив новые, особые эмоции от уже известного сюжета.</li>
        <li>Попробовать что-то новое. Каждый строит свою жизнь так, чтобы получить максимальное удовольствие. Для этого ее всегда нужно наполнять чем-то новым. Например, английским. Изучение нового языка это всегда очень интересно, ведь дает возможность познать особенности другого языка и культуру его носителей, тем самым саморазвиваясь.</li>
        <li>Смотреть фильмы в оригинале. Обычно все новые фильмы появляются изначально на языке оригинала (в основном это английский). И порой нам приходится очень долго ждать выхода этого фильма на понятном нам родном языке. Что может быть хуже? Так что, вперед, учить английский и смотреть все долгожданные фильмы первыми и в оригинале.</li>
        <li>Туристические поездки. Сейчас очень популярно путешествовать. Мы ездим на край света, чтобы увидеть что-то новое, получить новые эмоции. И как ни крути, а общаться с местным населением придется. Вот в этом случае знание английского языка пригодится Вам как нельзя кстати.</li>
        <li>Завести новые знакомства. Общение - неотъемлемая часть нашей жизни. И все мы, так или иначе, встречаем новых интересных людей, которые помогают нам развиваться, открывать в себе что-то новое. Много таких любопытных людей встречается и среди иностранцев. Согласитесь, было бы обидно отказаться от общения с интересным человеком только из-за того, что в свое время Вы поленились выучить английский. К тому же сейчас существует масса возможностей общаться в соцсетях, либо, что еще лучше, можно общаться по скайпу.</li>
        <li>Улучшить память. Какой бы хорошей ни была Ваша память, наверняка Вы хотели бы сделать ее еще лучше. Самый эффективный способ добиться этого - практика. Изучая английский, Вы столкнетесь с необходимостью заучивания - одним из превосходнейших способов улучшения памяти.</li>
        <li>Хобби. Изучение иностранных языков с каждым днем приобретает все большую популярность. Одни учат для работы, а другие просто потому, что получают от процесса изучения огромное удовольствие, превращая, таким образом, это занятие в свое хобби.</li>
        <li>Компьютерная грамотность. В наше время компьютер стал неотъемлемой частью нашей жизни. И компьютерное невежество становится просто непростительным. Но для того, чтобы сполна использовать безграничные возможности Вашего верного помощника, понадобятся хорошие знания английского языка.</li>
        <li> Учеба. Многие молодые люди стремятся получить высшее образование за границей. Для этого многие из них учат английский. Ведь учиться на английском языке можно практически в любой стране, а не только в англоговорящей.</li>      
        </ul>
        
      </div>

      <div class="docs-section">
        <h3>Полезные ресурсы и приложения</h3>
        <p>Интернет предоставляет вам огромное множество эффективно развивать Ваши знания английского. Мы перечислим Вам некоторые популярные ресурсы для самостоятельного изучения.</p>
         <ul>
        <li><a href="https://goo.gl/aVkU94">Lingualeo</a> - сервис для изучения английского языка в интерактивном режиме, имеет весьма полезное расширение  <a href="https://chrome.google.com/webstore/detail/lingualeo-english-transla/nglbhlefjhcjockellmeclkcijildjhi?hl=ru">English Translator</a> для браузера, которое рекомендуем опробовать.</li>
        <li><a href="https://goo.gl/iOO5qM">Memrise</a> - мобильное приложение для изучения английского каждый день.</li>
        <li>YouTube - на самом популярном видеохостинге, Вы можете найти кучу контента по обучению английского языка. К примеру, канал <a href="https://www.youtube.com/user/EnglishLessons4U"></a>Learn English with Ronnie</li>
        <li>Сервисы перевода и письма - очень популярно изучать английский через переводы. Вы можете переводить понравившиеся Вам статьи или книги. Или публиковать статьи и письма на английском, где носители языка могут поправить Вас и дать напутствующие советы. Такие сервисы как <a href="http://lang-8.com/">Lang 8</a>или <a href="http://notabenoid.org">Notabenoid</a> очень помогут Вам.</li>           
        </ul>
      </div>
      <!-- .column-group -->         
      </div>
    </div>    
    <!--div class="column lg-units-4">
      {% include download-module.html %}
    </div-->
  </div>

  <div class="column">
    <!-- Footer -->
    {% include footer.html %}
  </div>
</div>
