---
layout: default
title: Услуги &middot; iCENTER
---

<div class="docs-sub-header">
  {% include masthead.html %}
  <div class="container">
    <div class="docs-sub-content">
      <h2 class="page-title">Услуги</h2>
      <p class="page-description">Доступно и качественно</p>
    </div> 
  </div>
</div>

<div class="container">
  <div class="column-group">
    <div class="column lg-units-8 docs-content">
      <div class="docs-section">
        <h2>Наши услуги</h2>        
        <p>В перечень предоставляемых услуг центра входят:
        <ul>
        <li>языковые курсы: английского</li>
        <li>подготовка к международным экзаменам (IELTS, TOEFL, SAT)</li>
        <li>подготовка к сдаче ЕНТ, вступительным экзаменам в Казахско-Турецкий лицей, Назарбаевсую школу, Назарбаев Университет</li>
        <li>письменные переводы документов</li>
        </ul>
        </p>      
    </div>
    <!--div class="docs-section">
        <h2>Прайс-лист услуг</h2>
        <table class="browser-support-table">
          <thead>
            <tr>
              <th scope="col">IELTS</th>
              <th scope="col">TOEFL</th>
              <th scope="col" class="text-center">Supported?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Basic</td>
              <td>Intro to English</td>
              <td class="text-center browser-support-yes"><span class="icon icon-check"></span></td>
            </tr>
            <tr>
              <td>Pre-Intermediate</td>
              <td>Pre-Intermediate Learning</td>
              <td class="text-center browser-support-yes"><span class="icon icon-check"></span></td>
            </tr>
            <tr>
              <td>Intermediate</td>
              <td>Intermedaite Learning</td>
              <td class="text-center browser-support-maybe">To Be Decided</td>
            </tr>
            <tr>
              <td>Need To Deel?!</td>
              <td>Upper Intermediate</td>
              <td class="text-center browser-support-yes"><span class="icon icon-check"></span></td>
            </tr>            
              <td>&mdash;</td>
              <td>Over high level</td>
              <td class="text-center browser-support-maybe">To Be Decided</td>
            </tr>
            <tr>
              <td>&mdash;</td>
              <td>80 - level</td>
              <td class="text-center browser-support-maybe">To Be Decided</td>
            </tr>
          </tbody>
        </table>
      </div-->
    <!--div class="column lg-units-4">
      {% include download-module.html %}
    </div-->
  </div>  
  <div class="column">
    <!-- Footer -->
    {% include footer.html %}
  </div>
</div>
