---
layout: default
title: Соцсети &middot; iCenter
---

<div class="docs-sub-header">
  {% include masthead.html %}
  <div class="container">
    <div class="docs-sub-content">
      <h2 class="page-title">Соцсети</h2>
      <p class="page-description">Будь в курсе наших новостей!</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="column-group">
    <div class="column lg-units-8 docs-content">    

      <div class="docs-section">
        <h2>Мы в социальных сетях</h2>
        <p class="lead">Подписывайся и отслеживай наши новости в соцсетях</p>
        <ol>
          <li>
            <p>Вступай в группу Вконтакте <a href="https://new.vk.com/icenteredu">iCenter Astana</a>, там Вы можете задать Ваши вопросы</p>
          </li>
          <li>
            <p>Ставьте лайки в Facebook <a href="https://www.facebook.com/icenteredu/">iCenter</a>.</p>
          </li>         
        </ol>
        <p>Также ты можешь отслеживать нас в Твиттере <a href="https://twitter.com/iCenter_Astana">@iCenter_Astana</a> самые последние новости</p>
      </div>
      
      <div class="docs-section">
       <h2>Наше местоположение: проспект Кабанбай батыра 6/2, торговый центр "Каскад", 3 этаж, офис 103</h2>
         <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1251.4728697980179!2d71.4229977!3d51.1463517!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf6c08f6be224f321!2z0JbQmiAi0JrQsNGB0LrQsNC0Ig!5e0!3m2!1sru!2s!4v1468841000934" width=600 height=450 frameborder="0" style="border:0" allowfullscreen>      
          </iframe>
        </div>       
        <div class="fb-comments map-responsive" data-href="http://icenter-edu.com" data-width="600" data-numposts="5"></div>
    </div>
    </div>

    
    <!--div class="column lg-units-4">
      {% include download-module.html %}
    </div-->
  </div>

  <div class="column">
    <!-- Footer -->
    {% include footer.html %}
  </div>
</div>
