
<!--picture>
  <source media="(min-width: 767px)" srcset="/assets/img/night_london_large.jpg" alt="Anaislab">
  <source media="(min-width: 500px)" srcset="/assets/img/night_london_middle.jpg" alt="Anaislab">
  <img src="/assets/img/night_london_small.jpg" class="kitten" alt="Anaislab">
</picture-->
<div id="captioned-gallery">
	<figure class="slider">
		<figure>
			<img src="https://wallpaperscraft.com/image/night_london_bridge_river_clock_95791_1024x600.jpg" alt>
			<figcaption>London, United Kingdom</figcaption>
		</figure>
		<figure>
			<img src="https://wallpaperscraft.com/image/paris_france_building_sky_street_108895_1024x600.jpg" alt>
			<figcaption>Paris, France</figcaption>
		</figure>
		<figure>
			<img src="https://wallpaperscraft.com/image/new_york_overcast_advertising_building_59533_1024x600.jpg" alt>
			<figcaption>New York, United States</figcaption>
		</figure>		
		<figure>
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/hobbiton-lake.jpg" alt>
			<figcaption>London, United Kingdom</figcaption>
		</figure>
	</figure>
</div>
