<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--FACEBOOK-->
<header class="docs-masthead clearfix">
  <div class="container">
    <div class="column">
      <h1 class="docs-title">
        <a href="/" data-ignore="push">iCenter - образовательный центр</a>
      </h1>
      <nav class="docs-nav clearfix">
        <a class="docs-nav-trigger icon icon-bars pull-right js-docs-nav-trigger" href="#"></a>
        <div class="docs-nav-group">
          <a class="docs-nav-item" href="/" data-ignore="push">Главная</a>
          <a class="docs-nav-item" href="/about" data-ignore="push">О нас</a>
          <a class="docs-nav-item" href="/services" data-ignore="push">Услуги</a>            
          <!--a class="docs-nav-item" href="/components" data-ignore="push">Blogs</a-->
          <a class="docs-nav-item" href="/posts" data-ignore="push">Полезности</a>          
          <a class="docs-nav-item" href="/contacts" data-ignore="push">Соцсети</a>
          <a class="docs-nav-item" href="/contacts" data-ignore="push">Контакты</a>
          <!--a class="docs-nav-item" href="https://github.com/twbs/ratchet" data-ignore="push">GitHub project</a-->
        </div>
      </nav>
    </div>
  </div>
</header>
