<header class="docs-masthead clearfix">
  <div class="container">
    <div class="column">
      <h1 class="docs-title">
        <a href="/" data-ignore="push">iCenter</a>
      </h1>
      <nav class="docs-nav clearfix">
        <a class="docs-nav-trigger icon icon-bars pull-right js-docs-nav-trigger" href="#"></a>
        <div class="docs-nav-group">
          <a class="docs-nav-item" href="/" data-ignore="push">Home</a>
          <a class="docs-nav-item" href="/about" data-ignore="push">About</a>          
          <a class="docs-nav-item" href="/components" data-ignore="push">Blogs</a>
          <a class="docs-nav-item" href="/posts" data-ignore="push">Posts</a>          
          <a class="docs-nav-item" href="/contacts" data-ignore="push">Contacts</a>
          <!--a class="docs-nav-item" href="https://github.com/twbs/ratchet" data-ignore="push">GitHub project</a-->
        </div>
      </nav>
    </div>
  </div>
</header>
