---
layout: default
title: Mobile Apps For English Learning &middot; iCenter
---

<div class="docs-sub-header">
  {% include masthead.html %}
  <div class="container">
    <div class="docs-sub-content">
      <h2 class="page-title">Mobile Apps For English Learning</h2>
      <p class="page-description">Обзор лучших мобильных приложений для изучения английского</p>
    </div>
    {% include ad.html %}
  </div>
</div>

<div class="container">
  <div class="column-group">
    <div class="column lg-units-8 docs-content">
      <div class="docs-section">
        <h2>Memrise, LinguaLeo, DuoLingvo и другие</h2>
        <p>Международный языковой центр успешно работает в Астане с 2011 года. Мы уделяем огромное внимание подбору преподавателей, а также программам обучения персонала. Главное отличие наших языковых курсов от многих других — у нас действительно работают лучшие преподаватели, а также носители языка из Великобритании, США и других стран. Каждый преподаватель iCenter проходит строгий отбор, методическую подготовку и регулярные тренинги повышения квалификации.</p>
        <p>В перечень предоставляемых услуг входят:
        <ul>
        <li>языковые курсы: английского</li>
        <li>подготовка к международным экзаменам (IELTS, TOEFL, GMAT)</li>
        <li>подготовка к сдаче ЕНТ, вступительным экзаменам в Казахско-Турецкий Лицей, Назарбаев Университет</li>
        <li>переводы</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
